@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  75% { transform: translateX(10px); }
}
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

.shake {
  animation: shake 0.4s ease-in-out;
}

.font-cursive{
  font-family: "Parisienne", cursive;

}